* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Martel Sans', sans-serif;
  margin: 0;
}

.container {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 25px;
  padding-top: 0;
  position: relative;
}

.poster {
  height: 250px;
  max-width: 160px;
}

body {
  background: #141414;
}

header {
  align-items: center;
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

strong {
  font-weight: 900;
}

button, input {
  background: #141414;
  color: #e50914;
}

.details span {
  color: #ffcb14;
}

.details {
  box-shadow: 0 0 1px 1px #FFF;
  color: #fff;
  display: none;
  font-size: 12px;
  height: 100%;
  line-height: 1.4;
  padding: 5px;
  position: absolute;
  width: 100%;
}

.container:hover .details {
  background-color: black;
  cursor: pointer;
  display: block;
}

.flag {
  height: 20px;
  width: auto;
  vertical-align: middle;
}
