* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.container {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 0;
  position: relative;
  margin: 25px;
}

.poster {
  height: 200px;
}

body {
  background: #141414;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  background: #000;
}

button, input {
  background: #141414;
  color: #e50914;
}

.details {
  display: none;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 10px;
  position: absolute;
  box-shadow: 0px 0px 1px 1px #FFF;

}

.container:hover .details {
    display: block;
    cursor: pointer;
    background-color: black;
}
